.thankyou-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}

.thankyou-text {
    text-align: center;
    margin: 100px 50px 0;
    font-size: 28px;
}
